{{!--
<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form" method="POST">
            <span class="login100-form-title p-b-37" >
                Thêm sách
            </span>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Enter id">
                <input class="input100" type="number" name="id" placeholder="ID">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter title">
                <input class="input100" type="text" name="title" placeholder="Title">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter price">
                <input class="input100" type="number" name="base_price" placeholder="Price">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter image link">
                <input class="input100" type="text" name="image" placeholder="Image">
                <span class="focus-input100"></span>
            </div>
            
            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter ISBN">
                <input class="input100" type="text" name="isbn" placeholder="ISBN">
                <span class="focus-input100"></span>
            </div>
            
            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter supplier">
                <input class="input100" type="text" name="supplier" placeholder="Supplier">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter author">
                <input class="input100" type="text" name="author" placeholder="Author">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter publisher">
                <input class="input100" type="text" name="publisher" placeholder="Publisher">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter public year">
                <input class="input100" type="text" name="public_year" placeholder="Public year">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter weight">
                <input class="input100" type="number" name="weight" placeholder="Weight">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter size">
                <input class="input100" type="text" name="size" placeholder="Size">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter number of page">
                <input class="input100" type="number" name="number_page" placeholder="Number of page">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter type of page">
                <input class="input100" type="text" name="page" placeholder="Page type">
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <button type="submit" class="login100-form-btn"> 
                    Add book
                </button>
            </div>


        </form>
    </div>
</div>

--}}


<div class="col-md-6 offset-md-3 mt-5">
    <a target="_blank" href="https://getform.io?ref=codepenHTML">
        <img src='https://i.imgur.com/Z2Nyxsm.png'>
    </a>
    <br>
    <a target="_blank" href="https://getform.io?ref=codepenHTML" class="mt-3 d-flex">Getform.io | Get your free endpoint
        now</a>
    <h1>Getform.io HTML Form Example with File Upload</h1>
    <form accept-charset="UTF-8" action="/addbook" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleInputName">Book ID</label>
            <input type="number" name="id" placeholder="ID" class="form-control" required="required">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" required="required">Title</label>
            <input type="text" name="title" placeholder="Title" class="form-control" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" required="required">Price</label>
            <input type="number" name="base_price" placeholder="Price" class="form-control"
                aria-describedby="emailHelp">
        </div>



        <div class="form-group">
            <label for="exampleInputEmail1" required="required">ISBN</label>
            <input type="text" name="isbn" placeholder="ISBN" class="form-control" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" required="required">Supplier</label>
            <input type="text" name="supplier" placeholder="Supplier" class="form-control" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" required="required">Author</label>
            <input type="text" name="author" placeholder="Author" class="form-control" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" required="required">Publisher</label>
            <input type="text" name="publisher" placeholder="Publisher" class="form-control"
                aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" required="required">Public year</label>
            <input type="text" name="public_year" placeholder="Public year" class="form-control"
                aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" required="required">Weight</label>
            <input type="number" name="weight" placeholder="Weight" class="form-control" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" required="required">Size</label>
            <input type="text" name="size" placeholder="Size" class="form-control" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" required="required">Number of page</label>
            <input type="number" name="number_page" placeholder="Number of page" class="form-control"
                aria-describedby="emailHelp">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" required="required">Email address</label>
            <input type="text" name="page" placeholder="Page type" class="form-control" aria-describedby="emailHelp">
        </div>

        <hr>

        <div class="form-group mt-3">
            <label class="mr-2">Upload main image:</label>
            <input type="file" name="image">
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>