
<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
        <form class="login100-form validate-form" method="POST">
            <span class="login100-form-title p-b-37" >
                Thêm sách
            </span>

            <div class="wrap-input100 validate-input m-b-20" data-validate="Enter id">
                <input class="input100" type="number" name="id" placeholder="ID">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter title">
                <input class="input100" type="text" name="title" placeholder="Title">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter price">
                <input class="input100" type="number" name="base_price" placeholder="Price">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter image link">
                <input class="input100" type="text" name="image" placeholder="Image">
                <span class="focus-input100"></span>
            </div>
            
            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter ISBN">
                <input class="input100" type="text" name="isbn" placeholder="ISBN">
                <span class="focus-input100"></span>
            </div>
            
            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter supplier">
                <input class="input100" type="text" name="supplier" placeholder="Supplier">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter author">
                <input class="input100" type="text" name="author" placeholder="Author">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter publisher">
                <input class="input100" type="text" name="publisher" placeholder="Publisher">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter public year">
                <input class="input100" type="text" name="public_year" placeholder="Public year">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter weight">
                <input class="input100" type="number" name="weight" placeholder="Weight">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter size">
                <input class="input100" type="text" name="size" placeholder="Size">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter number of page">
                <input class="input100" type="number" name="number_page" placeholder="Number of page">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input m-b-25" data-validate="Enter type of page">
                <input class="input100" type="text" name="page" placeholder="Page type">
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <button type="submit" class="login100-form-btn"> 
                    Add book
                </button>
            </div>


        </form>
    </div>
</div>


