<script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="assets/extra-libs/DataTables/datatables.min.js"></script>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basic Datatable</h5>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>

                                <th>Username</th>
                                <th>Fullname</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th>
                                    <label class="customcheckbox m-b-20">
                                        <input type="checkbox" id="mainCheckbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            {{#each users}}
                            <tr>
                                <td>
                                    {{username}}
                                </td>
                                <td>
                                    {{fullname}}
                                </td>
                                <td>
                                    {{role}}
                                </td>
                                <td>
                                    {{status}}
                                </td>
                                <th>
                                    <label class="customcheckbox">
                                        <input type="checkbox" class="listCheckbox" name="listCheck"/>
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- this page js -->

<!--Tham khao: https://stackoverflow.com/questions/16371678/all-checkboxes-need-to-be-checked-and-unchecked-with-the-main-checkbox -->
<script>
    $('input[id=mainCheckbox]').click(function () {
        $("INPUT[name='listCheck']").prop('checked', this.checked);
    });
</script>