<link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/css/select2.min.css">
<link href="/dist/css/style.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/libs/jquery-minicolors/jquery.minicolors.css">

<div class="row">
    <div class="col-md-6">
        <div class="card">

            <form class="form-horizontal" accept-charset="UTF-8" method="POST" enctype="multipart/form-data">
                <div class="card-body">
                    <h4 class="card-title">Add New Product</h4>
                    <div class="form-group row">
                        <label for="title" class="col-sm-3 text-right control-label col-form-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="title" placeholder="Title Here">
                        </div>
                    </div>
                    <div class="form-group row">
                         <label for="price" class="col-sm-3 text-right control-label col-form-label">Category</label>
                        <div class="col-md-9" >
                            <select class="select2 form-control m-t-15" multiple="multiple"
                                style="height: 36px;width: 100%;" name="category" > 
                                {{#each list_categories}}
                                    <option value={{id_category}}>{{category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-3 text-right control-label col-form-label">Price</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="base_price" placeholder="Price Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="isbn" class="col-sm-3 text-right control-label col-form-label">ISBN</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="isbn" placeholder="ISBN Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="supplier" class="col-sm-3 text-right control-label col-form-label">Supplier</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="supplier" placeholder="Supplier Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="author" class="col-sm-3 text-right control-label col-form-label">Author</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="author" placeholder="Author Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="publisher"
                            class="col-sm-3 text-right control-label col-form-label">Publisher</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="publisher" placeholder="Publisher Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="public_year" class="col-sm-3 text-right control-label col-form-label">Public
                            year</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="public_year" placeholder="Public Year Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="weight" class="col-sm-3 text-right control-label col-form-label">Weight</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="weight" placeholder="Weight Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="size" class="col-sm-3 text-right control-label col-form-label">Size</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="size" placeholder="Size Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="number_page" class="col-sm-3 text-right control-label col-form-label">Number of
                            page</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" name="number_page"
                                placeholder="Number of page Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="number_page" class="col-sm-3 text-right control-label col-form-label">Page</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" name="page" placeholder="Type of page Here">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right control-label col-form-label">Description Title</label>
                        <div class="col-md-9">
                            <textarea class="form-control" name="description_title" rows="3" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right control-label col-form-label">File Upload</label>
                        <div class="col-md-9">
                            <div class="custom-file">
                                <!--<input type="file" class="custom-file-input form-control-file" name="image" required
                                    accept="image/*" value="{{detail.image}}">-->
                                <input type='file' id="imgInp" class="custom-file-input form-control-file" name="image"
                                    accept="image/*" value="{{detail.image}}" />

                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 text-right control-label col-form-label">Preview</label>
                        <div class="col-md-9">
                            <img id="blah" height="300" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 text-right control-label col-form-label">Description</label>
                        <div class="col-md-9">
                            <textarea class="form-control" name="description" rows="10" maxlength="10000"></textarea>
                        </div>
                    </div>
                </div>
                <div class="border-top">
                    <div class="card-body">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>
<script src="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
<script src="/dist/js/pages/mask/mask.init.js"></script>
<script src="/assets/libs/select2/dist/js/select2.full.min.js"></script>
<script src="/assets/libs/select2/dist/js/select2.min.js"></script>
<script src="/assets/libs/jquery-asColor/dist/jquery-asColor.min.js"></script>
<script src="/assets/libs/jquery-asGradient/dist/jquery-asGradient.js"></script>
<script src="/assets/libs/jquery-asColorPicker/dist/jquery-asColorPicker.min.js"></script>
<script src="/assets/libs/jquery-minicolors/jquery.minicolors.min.js"></script>



<script>
    $(".select2").select2();
</script>
<script>
    $("#imgInp").change(function () {
        readURL(this);
    });
</script>